/* @media only screen and (max-width: 600px) { 
    https://colors.muz.li/palette/c2c2ff/8892b3/f0f4ff/e1e8ff/ffffff */

.header {
    background: #e1e8ff;
    overflow: hidden;
    top: 0;
    width: 100%;
    padding: 3%
}

.divform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    font-size: 20px;
    width: 55%;
    padding: 5px 5px;
    background: transparent;
    border: 2px solid #8892b3;
    margin-top: 3%;
}

.divbtns {
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.btnform {
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
    letter-spacing: 0.1em;
    background: #8892b3;
    color: #ffffff;
    margin-top: 10%;
}

.divText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 20%;
    color: #8892b3
}